/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --theme-color: #FF0070; /*Цвет навигации, бэкграунда подзаголовков карточек и частично текста для темной темы*/
  --theme-logo-color: #DB00FF; /*Цвет логотипа для темной темы*/
  --theme-text-color: #F1B2CE; /*Цвет текста в темной теме*/
  --background-theme-color: #000028; /*Цвет бэкграунда для темной темы*/
  --background-image: url(/images/cover-image-dark.png);
  --subtitle-theme-color: #FF8DCB; /*цвет подзаголовков для светлой темы*/
  --theme-border-hover-color: transparent; /*цвет рамки у кнопки при ховере*/
  --theme-background: #000028;
  --theme-border-hover-color: #FF007040;
  --theme-logo-shadow: #FF0070;
  --theme-title-color: #FF0070;
  --theme-subtitle-color: #000028;
  --theme-subtitle-background: #FF0070;
  --theme-text-link-shadow: #FF0070;
  --display-property: flex;
  --font-weight-text-bold: 700;
  --font-weight-text-regular: 400;
}


/* @media (prefers-color-scheme: dark) {

  .page.theme_dark {
    --theme-background: var(--background-theme-color-dark);
    --theme-title-color: var(--theme-color-dark);
    --theme-subtitle-color: var(--background-theme-color-dark);
    --theme-subtitle-background: var(--theme-color-dark);
    --theme-text-color: var(--theme-text-color-dark);
    --theme-text-link-shadow: var(--theme-color-dark);
    --theme-logo-color: var(--logo-theme-color-dark);
    --theme-logo-shadow: var(--theme-color-dark);
    --theme-border-hover-color: #FF007066;
    --background-image: var(--background-image-dark);
    --display-property: flex;
  }
} */

.page.theme_dark {
  --theme-color: #FF0070; /*Цвет навигации, бэкграунда подзаголовков карточек и частично текста для темной темы*/
  --theme-logo-color: #DB00FF; /*Цвет логотипа для темной темы*/
  --theme-text-color: #F1B2CE; /*Цвет текста в темной теме*/
  --background-theme-color: #000028; /*Цвет бэкграунда для темной темы*/
  --background-image: url(/images/cover-image-dark.png);
  --subtitle-theme-color: #FF8DCB; /*цвет подзаголовков для светлой темы*/
  --theme-border-hover-color: transparent; /*цвет рамки у кнопки при ховере*/
  --theme-background: #000028;
  --theme-border-hover-color: #FF007066;
  --theme-logo-shadow: #FF0070;
  --theme-title-color: #FF0070;
  --theme-subtitle-color: #000028;
  --theme-subtitle-background: #FF0070;
  --theme-text-link-shadow: #FF0070;
  --display-property: flex;
  --font-weight-text-bold: 700;
  --font-weight-text-regular: 400;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}