/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1024px;
  margin: 0 auto;
  font-family: "IBM Plex mono", sans-serif, monospace;
  font-size: 18px;
  font-weight: var(--font-weight-text-regular);
  color: var(--theme-color);
  line-height: 23.34px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3 {
  font-size: 18px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible {
  outline: 1px solid currentColor;
  outline-offset: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--theme-title-color);
  border-radius: 10px;
}
