/* 
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

@media (prefers-color-scheme: light) {

  .page.theme_light {
    --theme-background: var(--background-theme-color-light);
    --theme-title-color: var(--theme-color-light);
    --theme-subtitle-color: var(--theme-color-light);
    --theme-subtitle-background: var(--subtitle-theme-color-light);
    --theme-text-color: var(--theme-color-light);
    --theme-text-link-shadow: var(--subtitle-theme-color-light);
    --theme-logo-color: var(--logo-theme-color-light);
    --theme-logo-shadow: var(--theme-color-dark);
    --theme-border-hover-color: #32312D66;

    --background-image: var(--background-image-light);
    --display-property: none;
  }
}

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}


