/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

/* Сохраняем для работы скрипта */

.page {
  position: relative;
  background: var(--theme-background);
  transition: transform 4s ease-in-out;
  background-attachment: fixed;
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}

.page::before {
  content: "";
  background: var(--background-image);
  background-size: 120% 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100vh;
  position: fixed;
  z-index: -1;
  transition: background-image 1.5s ease-in;
}

/* Общие стили для текста, заголовков, ссылок и т.д. */

.title-decor {
  color: var(--theme-subtitle-color);
  background-color: var(--theme-subtitle-background);
}

.title {
  color: var(--theme-title-color);
}

.section {
  padding-inline-start: 20px;
  padding-inline-end: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cards-paragraphs {
  color: var(--theme-text-color);
  font-weight: var(--font-weight-text-regular);
  margin-block-start: 10px;
}

.decorated-links {
  text-shadow: 3px 2px var(--theme-text-link-shadow);
  text-decoration: none;
}

/* Стили хедера */

.decorated-zone {
  position: relative;
  inline-size: 100%;
}

.header {
  min-block-size: 768px;
  padding-block-start: 20px;
  block-size: 100vh;
}

.header__content {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.rectangles::before {
  content: '';
  position: absolute;
  left: calc(100% - 45px);
  inline-size: 25px;
  block-size: 25px;
  border-block-start: 1px solid var(--theme-color);
  border-inline-end: 1px solid var(--theme-color);
}

.rectangles::after {
  content: '';
  display: block;
  position: relative;
  top: -45px;
  left: 20px;
  inline-size: 25px;
  block-size: 25px;
  border-block-end: 1px solid var(--theme-color);
  border-inline-start: 1px solid var(--theme-color);
}

.header__menu {
  display: flex;
  justify-content: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.header__theme-menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__theme-menu-button {
  inline-size: 100%;
  text-transform: lowercase;
  padding: 3px 12px;
  line-height: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
}

.header__theme-menu-button:focus-visible {
  outline: 1px solid transparent;
  border-block-end: solid 1px var(--theme-title-color);
}

.header__theme-menu-button:hover:not(:focus-visible):not(:disabled) {
  border: 1px solid var(--theme-border-hover-color);
  cursor: pointer;
}

.header__theme-menu-button_active {
  border: 1px solid var(--theme-title-color);
  pointer-events: none;
}

.bulb {
  display: var(--display-property);
  flex-direction: row;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 45px;
}

.record {
  color: var(--theme-title-color);
  text-transform: uppercase;
  padding-block-start: 1.5px;
  
}

.record:after {
  content: "";
  position: relative;
  top: -16px;
  right: -39px;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--theme-title-color);
  background-color: var(--theme-title-color);
}

.logo {
  inline-size: auto;
  block-size: auto;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: var(--font-weight-text-bold);
  color: var(--theme-logo-color);
  text-shadow: 4px 4px var(--theme-logo-shadow);
  align-self: flex-start;
  line-height: 82.5%;
  margin-block-start: 273px;
}

.header__title {
  inline-size: 491px;
  margin-inline-start: auto;
  margin-inline-end: 20px;
  margin-block-start: 115px;
  margin-block-end: 90px;
  font-weight: var(--font-weight-text-bold);
}

/* Стили мэйна */

.main {
  inline-size: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: 60px;
}

.main__concentration__grid {
  margin-block-end: 80px; /*в общий селекшн */
}

.main__concentration__grid__item {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: span 2;
}

.main__decreased-attention__grid {
  margin-block-end: 80px; /*в общий селекшн */
}

.main__decreased-attention__grid__title-container {
  grid-column-start: 1;
  grid-column-end: 2;
}

.main__decreased-attention__grid__item {
  grid-row-start: 2;
}

.main__decreased-attention__grid__item:nth-child(4n) {
  grid-column-end: 4;
}

.main__better-concentrate__grid__container {
  grid-template-rows: repeat(6, auto);
  margin-block-end: 80px; /*в общий селекшн */
}

.main__better-concentrate__grid__item:nth-child(1) {
  grid-area: 1 / 1 / 6 / 2;
}

.main__better-concentrate__grid__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
}

.main__better-concentrate__grid__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 4;
}

.main__better-concentrate__grid__item:nth-child(4) {
  grid-area: 3 / 2 / 4 / 4;
}

.main__better-concentrate__grid__item:nth-child(5) {
  grid-area: 4 / 2 / 5 / 4;
}

.main__better-concentrate__grid__item:nth-child(6) {
  grid-area: 5 / 2 / 6 / 4;
}

.main__better-concentrate__grid__item:nth-child(7) {
  grid-area: 6 / 2 / 7 / 4;
}

.main__better-concentrate__grid__item__subtitle {
  font-weight: var(--font-weight-text-regular);
  margin-block-end: 10px;
}

.main__pictures__grid__container {
  grid-template-rows: repeat(5, auto);
  margin-block-end: 60px;
  box-sizing: unset;
}

.main__pictures__grid__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 4;
}

.main__pictures__grid__item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
  inline-size: 100%;
  block-size: 100%;
}

.main__pictures__grid__item:nth-child(3) {
  grid-area: 2 / 3 / 4 / 4;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.main__pictures__grid__item:nth-child(4) {
  grid-area: 3 / 1 / 6 / 2;
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.main__pictures__grid__item:nth-child(5) {
  grid-area: 3 / 2 / 4 / 3;
  inline-size: 100%;
  block-size: 100%;
}

.main__pictures__grid__item:nth-child(6) {
  grid-area: 4 / 2 / 6 / 4;
  inline-size: 100%;
  block-size: 428px;
  vertical-align: bottom;
  margin-block-start: 5px;
}

/* Стили футера */

.footer {
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 768px;
  padding: 20px;
}

.footer__container {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__logo {
  text-shadow: 2px 2px 0 var(--theme-logo-shadow);
  margin-block-start: 0;
  align-self: center;

}

/* Брейкпоинты для адаптива */

@media (max-width: 768px) {

  .page::before {
    opacity: var(--media-opacity);
  }

  .header {
    min-block-size: 1024px;
  }

  .header__menu {
    margin-block-start: 172px;
    margin-inline-end: 20px;
    align-self: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    block-size: 100%;
  }

  .logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    text-shadow: 4px 4px var(--theme-text-link-shadow);
    margin-block-start: 173px;
  }

  .header__title {
    inline-size: 364px;
    block-size: auto;
    margin-block-end: 163px;
  }

  .main__decreased-attention__grid__container {
    display: flex;
    flex-direction: column;
  }

  .main__better-concentrate__grid__item:first-child {
    inline-size: 236px;
  }

  .main__pictures__grid__item:nth-child(6) {
    block-size: auto;
    margin-block-start: 0;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__logo {
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    margin-block-start: 0;
    text-shadow: 2px 2px var(--theme-text-link-shadow);
  }
}

@media (max-width: 600px) {

  .logo {
    margin-inline-start: 20px;
    margin-inline-end: 20px;
  }

  .main__concentration__grid {
    display: flex;
    flex-direction: column;
  }

  .main__concentration__grid__item:first-child {
    inline-size: auto;
  }

  .main__decreased-attention__grid__item:first-child {
    inline-size: auto;
  }

  .main__decreased-attention__grid__item:nth-child(1) {
    max-inline-size: unset;
  }
  
  .main__better-concentrate__grid__container {
    display: flex;
    flex-direction: column;
  }

  .main__better-concentrate__grid__item:first-child {
    inline-size: auto;
  }
}

@media (max-width: 425px) {

  .header {
    min-block-size: auto;
  }

  .header__menu {
    margin-block-start: 75px;
    align-self: flex-end;
  }

  .header__title {
    inline-size: auto;
    block-size: auto;
    margin-block-start: 55px;
    margin-block-end: 76px;
    margin-inline-start: 20px;
  }

  .logo {
    margin-block-start: 65px;
    margin-inline-end: 20px;
  }

  .main {
    padding-block-start: 40px;
  }

  .main__concentration__grid {
    margin-block-end: 50px;
  }

  .main__decreased-attention__grid__container {
    margin-block-end: 50px;
  }

  .main__decreased-attention__grid__item:first-child {
    inline-size: 355px;
    margin-block-end: 0;
  }

  .main__better-concentrate__grid__container {
    margin-block-end: 50px;
  }

  .main__better-concentrate__grid__item:first-child {
    inline-size: auto;
  }

  .main__pictures__grid__container {
    display: flex;
    flex-direction: column;
    margin-block-end: 40px;
    gap: 10px;
  }

  .main__pictures__grid__item:nth-child(6) {
    margin-block-start: 0;
  }

  .footer {
    min-block-size: 932px;
  }

  .footer__logo {
    margin-block-start: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}

@media (max-width: 375px) {
  
  .header {
    padding-block-start: 10px;
    min-block-size: 668px;
  }

  .rectangles::before {
    left: calc(100% - 35px);
  }

  .rectangles::after {
    top: -35px;
    left: 10px;
  }

  .header__menu {
    margin-block-start: 65px;
    margin-inline-end: 10px;
  }

  .header__title {
    margin-inline-start: 10px;
    margin-inline-end: 10px;
    margin-block-start: 0;
    margin-block-end: 66px;
  }

  .logo {
    margin-block-start: 0;
    margin-inline-start: 10px;
    margin-inline-end: 10px;
  }

  .bulb {
    top: 10px;
    right: 35px;
  }

  .section {
    padding-inline-start: 10px;
    padding-inline-end: 10px;
  }

  .footer {
    padding: 10px;
    min-block-size: auto;
  }

  .footer::before {
    left: calc(100% - 35px);
  }
}
