/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */


/* Стили хедера */

.decorated-zone {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background-image: url(/images/cover-image-dark.png);
  background-size: 120% 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.header__container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  height: 26px;
  gap: 10px;
}

.header__theme-menu-item {
  border: solid 1px transparent;
  cursor: pointer;
  width: 70px;
}

.header__theme-menu-button {
  width: 100%;
  border: solid 1px transparent;
  background-color: transparent;
  text-transform: lowercase;
  position: relative;
  z-index: 2;
  padding: 0;
}

.header__theme-menu-item:hover {
  border: solid 1px;
  background-color: transparent;
}

.bulb {
  position: absolute;
  top: 20px;
  right: 29px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: auto;
  height: 26px;
}

.bulb p {
  text-transform: uppercase;
}

.circle {
  width: 9px;
  height: 9px;
  background-color: var(--neon-theme-color);
  border-radius: 50%;
  box-shadow: 0 0 4px 2px #FF0070;
}

.decorations {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
}

.rectangle {
  width: 25px;
  height: 25px;
}

.right-up {
  position: absolute;
    top: 20px;
    left: calc(100% - 45px);
  background-image: url(/images/rectangle-right-up.svg);
}

.left-down {
  position: absolute;
  top: calc(100% - 45px);
  left: 20px;
  background-image: url(/images/rectangle-left-down.svg);
}

.logo {
  width: auto;
  height: auto;
  font-size: 157px;
  font-weight: var(--font-weight-text-bold);
  color: var(--logo-neon-theme-color);
  text-shadow: 4px 4px #FF0070;
  margin-top: 273px;
  align-self: flex-start;
  line-height: 82.5%;
}

.header__title {
  align-self: flex-end;
  width: 491px;
  margin-top: 114px;
  margin-bottom: 135px;
  margin-right: 20px;
  background-color: #FF0070;
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-bold);
}


/* Стили мэйна */

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000028;
  padding-top: 60px;
}

.main__first__grid {
  padding: 0 20px;
  margin-bottom: 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.main__first__grid__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2; 
  font-weight: var(--font-weight-text-bold);
}

.main__first__grid__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
}

.main__first__grid__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 4;
}

.main__first__grid__item__title {
  background-color: var(--neon-theme-color);
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-bold);
  margin-bottom: 10px;
}

.main__first__grid__item__description {
  color: var(--neon-theme-text-color);
  line-height: 23.4px;
}

.main__first__grid__item__description a {
  text-shadow: 3px 2px var(--neon-theme-color);
  text-decoration: none;
}


.main__second__grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.main__second__grid__item__title {
  background-color: var(--neon-theme-color);
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-bold);
  margin-bottom: 10px;
}

.main__second__grid__item__paragraph {
  height: 47px;
  line-height: 23.4px;
}

.main__second__grid__item:nth-child(1) {
    grid-area: 1 / 1 / 1 / 1;
    max-height: 70px;
    font-weight: var(--font-weight-text-bold);
}

.main__second__grid__item:nth-child(2) {
    grid-area: 2 / 1 / 3 / 2;
}

.main__second__grid__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 3;
}

.main__second__grid__item:nth-child(4) {
  grid-area: 2 / 3 / 3 / 4;
}

.main__second__grid__item__description {
  color: var(--neon-theme-text-color);
  line-height: 23.4px;
}

.main__third__grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 80px;
}

.main__third__grid__item__title {
  background-color: var(--neon-theme-color);
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-bold);
}

.main__third__grid__item:nth-child(1) {
  grid-area: 1 / 1 / 6 / 2; 
  font-weight: var(--font-weight-text-bold);
}
  
.main__third__grid__item:nth-child(2) {
  grid-area: 1 / 2 / 2 / 4;
}
  
.main__third__grid__item:nth-child(3) {
  grid-area: 2 / 2 / 3 / 4;
}
  
.main__third__grid__item:nth-child(4) {
  grid-area: 3 / 2 / 4 / 4;
}
  
.main__third__grid__item:nth-child(5) {
  grid-area: 4 / 2 / 5 / 4;
}
  
.main__third__grid__item:nth-child(6) {
  grid-area: 5 / 2 / 6 / 4;
}
  
.main__third__grid__item:nth-child(7) {
  grid-area: 6 / 2 / 7 / 4;
}

.main__third__grid__item__subtitle {
  background-color: var(--neon-theme-color);
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-regular);
  margin-bottom: 10px;
}

.main__third__grid__item__description {
  color: var(--neon-theme-text-color);
  line-height: 23.4px;
}

.main__third__grid__item__description a {
  text-shadow: 3px 2px var(--neon-theme-color);
  text-decoration: none;
}

.main__four__grid__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  box-sizing: unset;
}

.main__four__grid__item__title {
  background-color: var(--neon-theme-color);
  color: var(--background-neon-theme-color);
  font-weight: var(--font-weight-text-bold);
  height: 23px;
}
  
.main__four__grid__item:nth-child(1) {
  grid-area: 1 / 1 / 2 / 4;
}

.main__four__grid__item:nth-child(2) {
  grid-area: 2 / 1 / 3 / 3;
  width: 100%;
  height: 100%;
}

.main__four__grid__item:nth-child(3) {
  grid-area: 2 / 3 / 4 / 4;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__four__grid__item:nth-child(4) {
  grid-area: 3 / 1 / 6 / 2;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main__four__grid__item:nth-child(5) {
  grid-area: 3 / 2 / 4 / 3;
  width: 100%;
  height: 100%;
}

.main__four__grid__item:nth-child(6) {
  grid-area: 4 / 2 / 6 / 4;
  width: 100%;
  vertical-align: bottom;
  height: 428px;
  margin-top: 5px;
}


/* Стили футера */

footer {
  width: 100%;
  height: 768px;
  background-color: #000028;
}

.footer__container {
  position: static;
  display: flex;
  /* align-items: center; */
}

.footer__logo {
  margin-top: 0;
  align-self: center;
}

.footer-right-up {
  background-image: url(/images/rectangle-right-up.svg);
  align-self: end;
}

.footer-left-down {
  background-image: url(/images/rectangle-left-down.svg);
}

/* Сохраняем для работы скрипта */
.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
}




@media (max-width: 768px) {

  .decorated-zone {
    background-size: 213% 100%;
  }

  .header__container {
    margin-top: 192px;
    align-self: flex-end;
    margin-right: 20px;
  }
  
  .header__theme-menu-list {
    flex-direction: column;
    height: 100%;
  }

  .logo {
    margin-top: 173px;
    font-size: 120px;
  }

  .header__title {
    width: 364px;
    height: auto;
    margin-top: 162px;
    margin-bottom: 183px;
  }

  .main__second__grid__container {
    display: flex;
    flex-direction: column;
  }

  .main__second__grid__item:first-child {
    width: 236px;
    margin-bottom: 20px;
  }

  .main__four__grid__item:nth-child(6) {
    height: auto;
    margin-top: 0;
  }

  .footer__logo {
    font-size: 120px;
    margin-top: 0;
  }
}




@media (max-width: 425px) {

  .decorated-zone {
    background-size: 251% 100%;
  }

  .header__container {
    margin-top: 75px;
    align-self: flex-end;
    margin-right: 20px;
  }

  .logo {
    margin-top: 65px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 116px;
  }

  .header__title {
    width: auto;
    height: auto;
    margin-top: 55px;
    margin-bottom: 76px;
    margin-left: 20px;
  }

  .main {
    padding-top: 40px;
  }

  .main__first__grid {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  
  .main__first__grid__item:first-child {
    width: 355px;
  }

  .main__second__grid__container {
    margin-bottom: 50px;
  }

  .main__second__grid__item:first-child {
    width: 355px;
    margin-bottom: 0;
  }

  .main__third__grid__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }

    .main__four__grid__container {
      display: flex;
      flex-direction: column;
      margin-bottom: 40px;
      gap: 10px;
    }

    .main__four__grid__item:nth-child(6) {
      margin-top: 0;
    }

    .footer__logo {
      margin-top: 0;
      margin-left: 0;
      margin-right: 0;
      font-size: 116px;
    }
}

@media (max-width: 375px) {

  .decorated-zone {
    background-size: 285% 100%;
}

  .header__container {
    margin-right: 10px;
  }

  .bulb {
    right: 20px;
  }

  .logo {
    margin-left: 10px;
    margin-right: 10px;
  }

  .header__title {
    margin-left: 10px;
    margin-right: 10px;
  }

  .right-up {
    left: calc(100% - 35px);
  }

  .left-down {
    left: 10px;
  }

  .main__first__grid {
    padding-left: 10px;
    padding-right: 10px;
  }

  .main__second__grid__container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .main__third__grid__container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .main__four__grid__container {
    margin-right: 10px;
    margin-left: 10px;
  }

  .decorations {
    padding: 10px;
  }

}